<h1>Logueo</h1>

<form action="/api/auth/signin" method="POST">

    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
    </div>

    <button class="btn btn-success">Ingresar</button>

</form>