<div class="d-flex align-items-center py-4 bg-body-tertiary">
    <div class="form-signin w-50 m-auto">
        <form action="/api/peliculas/" method="POST" style="display: flex; flex-direction: column;">
            <h1 class="h3 mb-1 fw-normal">Crear película</h1>

            <div>
                <label for="lbl-title" class="form-label"></label>
                <input type="text" class="form-control" id="lbl-title" name="title"
                    placeholder="Ingrese el nombre de la película">
            </div>
            <div>
                <label for="lbl-year" class="form-label"></label>
                <input type="text" class="form-control" id="lbl-year" name="year"
                    placeholder="Ingrese el año de la película">
            </div>

            <button class="btn btn-success w-100 py-2 mt-4" type="submit">Crear</button>
        </form>
    </div>
</div>